@font-face {
    font-family: 'NeueMachina';
    src: url('assets/NeueMachina-Regular.woff') format('truetype');
    font-weight: 400;
}

html {
    background-color: black;
    cursor: url(assets/star.png) 50 45, auto;
    font-family: 'NeueMachina';
}

body {
    margin: 0;
    padding: 0;
}

.preloader{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #ac936e;
    z-index: 10;
}
  
.preloader.active{
    transition: ease-in-out 4s;
    /* transform: translateY(100vh); */
    opacity: 0;
    visibility: hidden;
}
  
.preloader:before{
    position: absolute;
    font-size: 4em;
    color: white;
}
  
.counter{
    position: relative;
    color: white;
    font-size: 1.5rem;
    z-index: 100;
}
  
.counter:before{
    content: 'Loading Wedding Invitation ';
    font-size: 1.5rem;
}

.options {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 10px;
    left: 10px;
}

.option {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.option:hover {
    border-radius: 30px;
}

.option-one {
    background-color: #f84527;
}

.option-two {
    background-color: #ffb511;
}

.option-three {
    background-color: white;
}

.lookbook {
    display: none;
}

.lookbook:hover {
    background-color: white;
}

.flip-card {
    background-color: transparent;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card img {
    margin-top: 1vh;
    height: 93vh;
}

.flip-card img:hover {
    margin-top: 0;
    height: 95vh;
    transition: transform 0.5s;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.2s;
    transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
}

#countdown {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #e8e2d8;
    color: #7f6c4f;
    font-family: 'NeueMachina';
    font-size: 24px;
    padding: 8px;
}

@media (max-width: 600px) {
    .lookbook {
        display: block;
        font-size: 1.5rem;
        position: fixed;
        z-index: 5;
        padding: 4px 4px 3px 4px;
        top: 2vh;
        right: 2vw;
        color: #ac936e;
        border: 2px solid #ac936e;
    }

    .click-icon {
        width: 50px;
        height: 50px;
    }

    .counter {
        font-size: 1rem;
    }
    .counter::before {
        font-size: 1rem;
    }
    #countdown {
        display: none;
    }

    .flip-card img {
        width: 100%;
        height: auto;
    }

    .flip-card img:hover {
        margin-top: 1vh;
        width: 100%;
        height: auto;
    }

    .flip-card:active .flip-card-inner {
        transform: rotateY(180deg);
    }

    /* click options */
    .options {
        position: fixed;
        display: flex;
        flex-direction: row;
        top: auto;
        bottom: 0px;
        left: 40vw;
        z-index: 5;
    }
    
    .option {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3px;
    }
    
    .option-one {
        background-color: #f84527;
    }
    
    .option-two {
        background-color: #ffb511;
    }
    
    .option-three {
        background-color: white;
    }

}